h2{
    color: #fc08e7;
    font-size: 24px;
    margin-bottom: 20px;
}

body{
    background-color: #d6cccc;
    font-family: Arial, sans-serif;
    padding: 20px;
}

p{
    color: #f82929;
    font-size: 16px;
    line-height: 1.5;
}